In [1]:
import pandas as pd

In [32]:
def describe1(): 

        name =['utkal','aryan','aditya','varun']
        present = [24,13,21,34]
        absent =[3,12,23,32]
        leave = [1,2,3,4]

        student_info={'name of student':name,' no of days of present':present,'no of days of absent':absent,'no of days of leave':leave}
        df=pd.DataFrame(student_info)
        new_df =pd.read_csv('student info.csv')
        new_df.describe()

In [34]:
describe1()

In [26]:
     new_df =pd.read_csv('student info.csv')

In [27]:
new_df

,Unnamed: 0,name of student,no of days of present,no of days of absent,no of days of leave
0,0,utkal,24,3,1
1,1,aryan,13,12,2
2,2,aditya,21,23,3
3,3,varun,34,32,4

In [29]:
new_df.describe()

,Unnamed: 0,no of days of present,no of days of absent,no of days of leave
count,4.000000,4.000000,4.00000,4.000000
mean,1.500000,23.000000,17.50000,2.500000
std,1.290994,8.679478,12.66228,1.290994
min,0.000000,13.000000,3.00000,1.000000
25%,0.750000,19.000000,9.75000,1.750000
50%,1.500000,22.500000,17.50000,2.500000
75%,2.250000,26.500000,25.25000,3.250000
max,3.000000,34.000000,32.00000,4.000000