# PANDAS

In [4]:
import pandas as pd

series

In [5]:
#creating a series


days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
my_series=pd.Series(days,index=range(1,8))
print(my_series)

1       monday
2      tuesday
3    wednesday
4     thursday
5       friday
6     saturday
7       sunday
dtype: object

In [6]:
    #creating a series using dictionary
dict={'1':'monday','2':'tuesday','3':'wednesday}
ser=pd.Series(dict)
ser

SyntaxError: EOL while scanning string literal (2060782104.py, line 2)

Dataframe

In [7]:
# creating a datafram using dictionary

max_temp=[18,23,63,2,5,6,7]
min_temp=[13,6,6,6,96,6,3]
weather={'days':days,'max':max_temp,'min':min_temp}
df=pd.DataFrame(weather)
df

        days  max  min
0     monday   18   13
1    tuesday   23    6
2  wednesday   63    6
3   thursday    2    6
4     friday    5   96
5   saturday    6    6
6     sunday    7    3

Exporting  form a csv file

In [8]:
df.to_csv('weather data.csv')

Imporing from a csv file

In [9]:
new_df=pd.read_csv('weather data.csv')

In [10]:
new_df

   Unnamed: 0       days  max  min
0           0     monday   18   13
1           1    tuesday   23    6
2           2  wednesday   63    6
3           3   thursday    2    6
4           4     friday    5   96
5           5   saturday    6    6
6           6     sunday    7    3

Rows

In [11]:
new_df.head()

   Unnamed: 0       days  max  min
0           0     monday   18   13
1           1    tuesday   23    6
2           2  wednesday   63    6
3           3   thursday    2    6
4           4     friday    5   96

In [12]:
print(new_df.columns)

Index(['Unnamed: 0', 'days', 'max', 'min'], dtype='object')

In [13]:
new_df.shape

(7, 4)

In [14]:
new_df[1:5]

   Unnamed: 0       days  max  min
1           1    tuesday   23    6
2           2  wednesday   63    6
3           3   thursday    2    6
4           4     friday    5   96

operations on DataFrame

new_df.max()

In [18]:
new_df['min'].max()

96

In [19]:
new_df[['max','min']].max()

max    63
min    96
dtype: int64

In [20]:
new_df['min']>80

0    False
1    False
2    False
3    False
4     True
5    False
6    False
Name: min, dtype: bool

In [21]:
new_df[new_df['max']>80]

KeyError: 'Humidity'